<table>
 	<tr>
 		<td>name</td>
 		<td>email</td>
 		<td>password</td>
    <td>show</td>
    <td>edit</td>
    <td>destroy</td>
 	</tr>
 	<% @users.each do |user| %>
 	<tr>
 		<td><%= user.name %></td>
 		<td><%= user.email %></td>
 		<td><%= user.password %></td>
    <td><%= link_to "show user", user_path(user.id) %></td>
    <td><%= link_to "edit user", edit_user_path(user.id) %> </td>
    <td><%= link_to "destroy user", user, confirm: "you sure you want to do this?", method: :delete %></td>
 	</tr>
 	<% end %>
</table>
