<% provide(:title, @user.name) %>

<div>
  <%= gravatar_for @user %>

  <h2><%= @user.name %></h2>
  <p>Email: <%= @user.email %></p>
  <p>Favorite Genre: <%= @user.favgenre %></p>
  <p>Favorite Song: <%= @user.favsong %></p>
  <p>Favorite Artist: <%= @user.favartist %></p>
  <p>Favorite Lyric <%= @user.favalbum %></p>
  <p>Favorite Video: <%= @user.favvideo %></p>
  
</div>
