<body>

<div id="messages"> 
 
</div>  

<table id="songtable" class="table table-hover">
  <tr>
    <td width=100>Art (Enter URL)</td>
    <td>Track</td>
    <td>Artist</td>
    <td>Album</td>
    <td>Genre</td>
    <td>Year</td>
    <td>Video (Enter YouTube URL)</td>
    <td>Rating</td>
    <td>Created By</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <%= form_for(@song, remote: true) do |f| %>
      <td><%= f.text_field :artURL, size: 10%></td>
      <td><%= f.text_field :track, size: 17%></td>
      <td><%= f.text_field :artist, size: 17%></td>
      <td><%= f.text_field :album, size: 17%></td>
      <td><%= f.text_field :genre, size: 17%></td>
    <td><%= f.text_field :year, size: 5%></td>
    <td><%= f.text_field :ytURL, size: 17%></td>
    <td><%= f.select :rating, options_for_select(['1', '2', '3', '4', '5'])%></td>
    <td colspan=3><%= f.submit %></td>
    <% end %>
  </tr>
  
</table>

</body>
